:root{
    --skin-color:#181cec;
    --second-div:#c0ebed;
    --heading: rgb(0, 0, 0);
    --white: white;
    --black:black;
}
*{
    margin: 0;
    padding: 0;
  
}



::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #16b008;
}
::-webkit-scrollbar-thumb{
    background-color: var(--skin-color);
    border-radius: 30px;
}
*::selection{
    background-color: rgba(54, 11, 227, 0.984);
    color: rgb(6, 254, 23);
}
body{
    padding-top: 50px;
    overflow-x: hidden;
    /* min-height:100vh; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifx;
}
nav{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(100px);
    background-color: rgba(248, 245, 245, 0.475);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--black);
}

nav input,nav button{
    display: flex;
    align-items: center;
    color: var(--black);
    height: 70%;
    margin-top: 7px;
    margin-right: 7px;
}

.navbar-fixed {
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
  }

  .anim {
    position: relative;
    font-weight: 600;
}
/* .anim::before{
    content: "";
    position: absolute;
    height: 0%;
    left: 0%;
    width: 4px;
    bottom: 1px;
    background-color: var(--skin-color);
    transition: all ease 0.7s;
}
.anim:hover::before{
    height: 100%;
} */

.anim::after {
    content: "";
    position: absolute;
    height: 5px;
    top: 93%;
    width: 0%;
    left: 0;
    background-color: var(--skin-color);
    transition: all ease 0.7s;
}

.anim:hover::after {
    width: 100%;
}


nav a:hover{
    background-color: rgb(141, 169, 194);
    color: var(--skin-color);
    font-size:1.01em;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(220, 217, 217, 0.539);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
@media(max-width:810px){
    .hideonmobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    nav button{
        margin-right: -10px;
       }
}
@media(max-width:400px){
   .sidebar{
    width: 100%;
   }
}
@media(max-width:374px){
    nav button{
     margin-left: 10px;
    }
    .logo{
        margin-left: -30px;
    }
 }
/* -------------------------------------------------navbar close--------------------------------------------- */
/* -------------------------------------------------First div open--------------------------------------------- */

.first-div{
    position: relative;
    /* display: none; */
    z-index: 1;
}
  .section-title h1{
    font-weight: 700;
    position: relative;
    font-size: 44px;
 }
 .section-title{
    flex: 0 0 100%;
    max-width:100%;
    margin-bottom: 50px; 
}  
.section-title h1::before{
    content: '';
    height: 5px;
    width: 73px;
    background-color: var(--skin-color);
    position: absolute;
    display: flex;
    top: 90%;
}
.section-title h1::after{
    content: '';
    height: 5px;
    width: 43px;
    background-color: var(--skin-color);
    position: absolute;
    display: flex;
    top: 90%;
    margin-top:9px;
}
.card img{
    opacity: 0.79;
    transition: all ease 0.3s;
    height: 240px;
    object-fit: cover;
    scale: 0.8;
 }

.card:hover{
    transform: scale(1.07);
    transition:all ease 0.4s;
}
.card:hover.card img{
    opacity: 1;
    scale: 0.96;
}

.second-div{
   /* background-color:var(--second-div); */
   background-image: linear-gradient(to right,rgb(177, 241, 114),rgb(148, 184, 124),rgb(134, 240, 141)) !important;

   height:max-content;
}
.second-product{
    background-image: linear-gradient(to right,rgb(228, 179, 74),rgb(209, 210, 225),rgb(237, 199, 111)) !important;
}
.second-div h1{
  padding-top: 70px;
  padding-left: 46px;
  padding-bottom: 18px;
  color: var(--heading);
}

.card-body a{
   background-color: var(--skin-color);
   color: white;
   transition: all ease 0.3s;
   margin-top: 10px;
}


.card-body a:hover{
    scale: 1.1;
    background-color: var(--skin-color);
    color: var(--black);

 }
 .card{
    overflow: hidden;
    transition: all ease 0.3s;
    
 }
 .card-title{
    font-weight: 700;
    font-size: 26px;
    color: #2b2b28;

 }
 .price{
    font-size: 16px;
 }
 .card-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
 }
/* --------profile */

/* --------------------------------categories-ram ----------------------- */ */

.card-ram {
    display: flex ;
    flex-direction: row;
    padding-top: 10px;
 
  }

  .row .card-ram  { 
    display: flex ;
    flex-direction: row;
    padding-top: 10px;
  } 


   .category{
    min-height: 490px;
    
  }
  @media (max-width:1199px){
    .category{
        min-height: 570px;
      }
  }
 .imgg{
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.91;
    min-width: 430px;
    background-color: rgb(234, 177, 99);
    border:1px solid black;
    border-radius: 10px;
    height: 320px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .imgg:hover {
    box-shadow: 0 10px 16px rgba(0, 0.2, 0, 0.5); 
}
.imgg:hover.imgg img{
    scale: 0.73;
    transition: all ease 0.3s;
}
  .imgg img{
    scale: 0.7;
    overflow-y:hidden;
    transition: all ease 0.3s;
  }
  
 .btn-ram{
    background-color: var(--skin-color);
    color: var(--white);
    transition: all ease 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 250px !important;
    height: 40px;
}

.title:hover{
    scale: 1.003;
}
  .btn-ram:hover {
    transform: scale(1.08);
    background-color: var(--skin-color);
    color: rgb(213, 239, 171);
  }

  .card-body-ram {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .price-ram b{
    font-size: 25px;
  }
  .price-ram{
    margin-top:-20px !important;
  }
 
  
  @media(max-width:768px){
     .card-ram{
        display: block !important;
        justify-content: center;
        align-items: center;
    }
    .container .row .card-ram{
        display: block !important;
        justify-content: center;
        align-items: center;
    }
    .imgg{
        scale: 0.8;
    }
    .btn-ram{
        width:auto !important;
    }
 }
 @media(max-width:470px){
 .imgg{
    min-width: auto;
 }

 }
 @media(max-width:438px){
   .section-title h1{
      font-size: 37px;
      padding-left: 8px;
   }
   .imgg{
    max-height:  auto;
   }
 .img-icon{
    transform: scale(0.8);
 }
 }

 /* ----------------about us   */

    .about-us {
        background: linear-gradient(to bottom, #ffc5c5, #e27878);
        padding: 20px;
    }

    .about-us-content {
        padding: 20px;
    }

    .about-us-image {
        padding: 20px;
    }

    .about-us-image img {
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 6px solid #ff0000;
        transition: transform 0.3s;
    }

    .about-us-image img:hover {
        transform: scale(1.03);
    }

    @media (max-width: 992px) {
        .about-us-content, .about-us-image {
            padding: 10px;
        }
    }

    @media (max-width: 768px) {
        .about-us-content, .about-us-image {
            padding: 5px;
        }
    }


    .animated-text {
        position: absolute;
        animation: move 10s ease infinite;
        
      }
      
      @keyframes move {
        0% {
          transform: translateX(300%);
        }
        100% {
            transform: translateX(-90%);
          }
      }
      .animated-text1 {
        position: absolute;
        animation: movee 10s ease infinite;
        
      }
      
      @keyframes movee {
        0% {
          transform: translateX(-90%);
        }
        100% {
            transform: translateX(930%);
          }
      }


